body {
    margin: 0;
}

.root {
    padding: 1.5rem;
    color: rgba(20, 32, 56, 1);
    background-color: rgba(248, 249, 253, 1);
}

.main {
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    box-shadow: 0 3px 6px rgba(20, 32, 56, 0.15);



}

#qquestLogo {
    border-radius: 50%;
    height: 5rem;
}

.logoContainer {
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#greeting {
    font-size: 2.4rem;
}